*{
    padding : 0px;
    margin : 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: myFont;
    src: url('christmas_bell/Christmas\ Bell\ -\ Personal\ Use.otf');
}

html{
    font-size: 16px;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #0C2D57;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 8rem;
    color: #FC6736;
    font-family: myFont;
    position: relative;
    padding-right: 0.3rem;
}

h1::before{
    content: "Jai Shree Ram ";
    padding-right: 0.3rem;
    position: absolute;
    
    color: white;
    border-right : 2px solid white;

    text-wrap: nowrap;
    overflow: hidden;

    animation: slide 5s linear infinite alternate;
}

@keyframes slide {
    0%{
        width : 0%;
    }
    50%{
        width: 100%;
    }100%{
        width: 0%;
    }
}

@media screen and (width< 700px) {
    html{
        font-size: 6px;
    }
}
